@page "/procura"
@using AntDesign.TableModels
@using Livraria.Application.DTOs.Request
@using Livraria.Domain.Entities
@using Livraria.Domain.Repositories

@inject ILivroRepository repository;

<br />

<Breadcrumb>
	<BreadcrumbItem>Livro</BreadcrumbItem>
	<BreadcrumbItem>Procurar</BreadcrumbItem>
</Breadcrumb>

<br />

<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.FileAdd">Inserir</Button>

<br />
<br />

<Table @ref="table"
       TItem="LivroResponse"
       DataSource="@livros"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
>
    <Column @bind-Field="@context.Titulo" Sortable />
    <Column @bind-Field="@context.Autor" Sortable />
    <Column @bind-Field="@context.Quantidade" Sortable />
    <Column @bind-Field="@context.Preco" Sortable />
    <Column @bind-Field="@context.DataPublicacao" Format="dd/MM/yyyy" Sortable />
    <ActionColumn>
        <Space>
            <SpaceItem><Button Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Edit" /></SpaceItem>
            <SpaceItem><Button Danger Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Delete" /></SpaceItem>
        </Space>
    </ActionColumn>
</Table>

@code {
    IEnumerable<LivroResponse> livros;

    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        var response = await repository.ObterTodos();
        livros = response.Select(livro => LivroResponse.ConverterParaResponse(livro));
        _total = livros.Count();
    }
}